<!--Define the format how we show data-->
<div class="card">
  <div class="card-inside" *ngFor="let p of character">
    <img src={{p.image}} alt="imagen de personaje" />
    <div class="card-body">
      <h5 class="card-title">{{ p.name }}</h5>
      <h5 class="card-title">{{ p.status }}</h5>
      <h5 class="card-title">{{ p.species }}</h5>
      <h5 class="card-title">{{ p.gender }}</h5>
      <h5 class="card-title">{{ p.location }}</h5>
      <h5 class="card-title">{{ p.origin }}</h5>
      <button
        class="btn btn-info justify-content-center"
      >
        Ir
      </button>
    </div>


					<button class="btn btn-primary" type="button" (click)="deleteCharacter(p.id)">Borrar</button>

          <button type="submit" class="btn btn-primary" (click)="updateCharacter()">Actualizar</button>

    </div>
  </div>
